# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

npm-debug.log*

package-lock.json

/trash

план.js

__pogoda_tutorial.txt

# production
/build

# style-components
/style-components

# desktop.ini 
desktop.ini
*.ini
