* {
    box-sizing: border-box;
}

body {
    margin-bottom: 50px;
	font-family: 'Open Sans', sans-sarif;
	padding: 0px;
	background-color: #87cefa;
}

img{
	width:100%;
}

.text-small{
	margin-top: 10px;
	margin-left: 0px;
	vertical-align: middle;
	display: inline-block;
	font-size: .3em;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
/*   section  currency rate   start */
section{
	width: 50%;
	background-color: #66b1f1;
	color: #193d70;
	font-size: 125%;
	
	display: flex;
	flex-direction: column;
	justify-content: left;

}

.bitcoin{
	margin: 0px 0px 0px 10px;
}
.eur{
	margin: 0px 0px 0px 10px;
}
.usd{
	margin: 0px 0px 0px 10px;
}
#bitcoin{
	color: #ffffff;
	font-weight: bold;
}
#usd{
	color: #ffffff;
	font-weight: bold;
}
#eur{
	color: #ffffff;
	font-weight: bold;
}

.pogoda{
	margin: 0px 0px 0px 10px;
}
.weathertemp{
	color: #ffffff;
	margin: 0px 5px 0px 5px;
}

/*   section  currency rate   finish */
p{
	font-size: 26px;
}

a{
	text-decoration: none; /*  */
} 
	
	
/* 	NAV start 	*/
.active{ 
	background: #e8dbff;
}

.et-hero-tabs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  position: relative;
  background: #f8f4ff; /*Магнолия*/
  text-align: center;
  padding: 0 2em;
}
.et-hero-tabs{
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
.et-hero-tabs{
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #f0f8ff;
  z-index: 10;
}
.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.et-hero-tab:hover {
  color: white;
  background: #66b1f1;
  transition: all 0.5s ease;
}

@media (min-width: 800px) {
  .et-hero-tabs{
    font-size: 3rem;
  }
  .et-hero-tabs{
    font-size: 1rem;
  }

  .et-hero-tab {
    font-size: 1rem;
  }
}

/* 	NAV finish 	*/

.photo{
	display: flex;
	width: 50%;
	/*
	width: 622px;
	*/
	height: 80px;
}

@media (max-width: 800px) {
    .photo {
        width: 75%;
    }
	section{
        width: 75%;
		font-size: 125%;
	}
}

@media (max-width: 600px) {
    .photo {
        width: 90%;
    }
	section{
        width: 90%;
		font-size: 125%;
	}
}

@media (max-width: 400px) {
    .photo {
        width: 100%;
    }
	section{
        width: 100%;
		font-size: 125%;
	}
}

.browser{
	width: 50px;
	margin-left: 30px;
}

/*social icon html*/

.social{
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
	margin: 10px 0px 0px 150px;
	
}

.ui-social{
	color: white;
	position: left;
	
	-ms-flex: 20%; 
    flex: 20%;
    max-width: 20%;
	height: 40px;
    padding: 10px 0px 0px 15px;
	margin: 0px 0px 0px 0px;
	font-weight: bold;
	
	border: 0.5px solid white;
	
	box-shadow: 0px 5px 10px #85533e;
	
}

.ui-social:last-child { background: lightsalmon; }


.figma{background-color: #ba8670;}
.sketch{background-color: #b36c49;}
.zeplin{background-color: #a5694f;}
.adobe{background-color: #854f32;}

.figma:hover{
	color: #ba8670;
	background-color: #ffffff;
	border: 0.5px solid #ba8670;
	}
.sketch:hover{
	color: #b36c49;
	background-color: #ffffff;
	border: 0.5px solid #b36c49;
	}

.zeplin:hover{
	color: #a5694f;
	background-color: #ffffff;
	border: 0.5px solid #a5694f;
	}	
.adobe:hover{
	color: #854f32;
	background-color: #ffffff;
	border: 0.5px solid #854f32;
}





#hello{
	color: #00a86b;
	background-color: #E5F9F9;
	width: 700px;
	padding: 0px 0px 0px 30px;
}

.opasity{
	opacity: 0.5;
	background-color: #87cefa;
}

.opasity:hover{
	opacity: 1;
}


/*font*/
@font-face {
      font-family: 'fontello';
      src: url('./font/fontello.eot?74077430');
      src: url('./font/fontello.eot?74077430#iefix') format('embedded-opentype'),
           url('./font/fontello.woff?74077430') format('woff'),
           url('./font/fontello.ttf?74077430') format('truetype'),
           url('./font/fontello.svg?74077430#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }
	
	
	
	
	
	
	
	
	
	
	
	



/*


*, *:before, *:after {
  position: relative;
  box-sizing: border-box;
}


* {
  transition: all 0.3s cubic-bezier(0.2, 0, 0.4, 1);
}

.ui-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40rem;
  max-width: 90vw;
  height: calc(100vh - 2rem);
}
.ui-app[data-state=start] {
  justify-content: center;
}
.ui-app[data-state=loading] .ui-item {
  opacity: 0.5;
}
.ui-app[data-state=photo] * {
  opacity: 0.3;
}
.ui-app[data-state=photo] .ui-photo-detail, .ui-app[data-state=photo] .ui-photo-detail * {
  opacity: 1;
}
.ui-app[data-state=photo] .ui-items {
  pointer-events: none;
}
.ui-app:after {
  content: "current state: " attr(data-state);
  position: absolute;
  bottom: 0.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0 0 0.1rem black;
  pointer-events: none;
}

.ui-form {
  margin-bottom: 1rem;
}

.ui-input {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
  display: block;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border: none;
  font-size: 2rem;
  height: 3rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}
.ui-input::-webkit-input-placeholder {
  color: #CDCDCD;
}
.ui-input:focus {
  outline: none;
}

.ui-buttons {
  text-align: center;
}

.ui-button {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: #EB7452;
  color: white;
  height: 3rem;
  padding: 0 3rem;
  border-radius: 3rem;
  margin: 0 1rem;
}
.ui-button[disabled] {
  opacity: 0.5;
}
.ui-button[type=button] {
  background-color: #555;
}

.ui-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 1;
  overflow-y: scroll;
  margin: 0 -0.25rem;
}
.ui-items:hover > .ui-item {
  opacity: 0.7;
}
.ui-items:hover > .ui-item:hover {
  opacity: 1;
}

.ui-item {
  display: block;
  height: 10rem;
  width: auto;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0.25rem;
  animation: item 0.5s calc(var(--i, 0) * .05s) cubic-bezier(0.5, 0, 0.2, 1) both;
  background-color: #EEE;
}
@keyframes item {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.ui-photo-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-photo {
  height: auto;
  width: auto;
  min-height: 50vh;
  min-width: 50vw;
  max-height: 100%;
  max-width: 100%;
}	