
.icon-cloud:before { content: '\e800'; } /* '' */
.icon-beaker:before { content: '\e801'; } /* '' */
.icon-attach:before { content: '\e802'; } /* '' */
.icon-paper-plane:before { content: '\e803'; } /* '' */